.map-container {
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.btn-wa {
    display: inline-block;
    padding: 15px 25px;
    background-color: #25D366; /* Warna Hijau WA */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-wa:hover {
    background-color: #128C7E;
}
